@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

$accent1: black;
$accent2: rgb(8, 7, 83);
@mixin cards {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
*
{
    padding: 0%;
    margin: 0%;
}


footer
{
    background-color: white;
}
#logo {
    font-family: 'Bebas Neue', cursive;
    color:purple;
}

#first 
{
    @include cards()
}
#second 
{
    @include cards()
}
#third 
{
    @include cards()
}
#fourth 
{
    @include cards()
}
.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}
.carousel .item {
    height: 300px;
  }
  
  .item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 300px;
  }
