
$accent1: black;
$accent2: rgb(8, 7, 83);
*
{
    padding: 0%;
    margin: 0%;
}
//  body
// {
//     background-image: url("main-md.JPG");
//     background-repeat: no-repeat;
//     background-size: cover;
// }


footer
{
    background-color: white;
}